<?xml version="1.0" encoding="utf-8"?>
<odoo>	


	<menuitem id="menu_appointment_root"
		name="Appointment"
		parent="menu_hospital_root"
		sequence="20"/>
		<menuitem id="menu_appointment"
			name="Appointment"
			parent="menu_appointment_root"
			action="action_hospital_appointment"
			sequence="10"/> 

	<menuitem id="menu_create_appointment"
			name="Create Appointment"
			parent="menu_appointment_root"
			action="action_create_appointment"
			sequence="20"/>	

		<menuitem id="menu_search_appointment"
			name="Search Appointment"
			parent="menu_appointment_root"
			action="action_search_appointment"
			sequence="30"/>	

	<menuitem id="menu_reporting"
			name="Reporting"
			parent="menu_hospital_root"
			sequence="40"/>	

		<menuitem id="menu_appointment_report"
				name="Appointments"
				parent="menu_reporting"
				action="action_report_appointment"
				sequence="10"/>	

		<menuitem id="menu_patient_report"
				name="Patients"
				parent="menu_reporting"
				action="action_report_patient"
				sequence="20"/>	



</odoo>